<config>
	<processor>
		<name>default</name>
		<class>org.openleg.platform.parsers.handlers.defaults.DefaultProcessor</class>
	</processor>

	<nodeFlagHandler>
		<name>solr_container</name>
		<class>org.openleg.platform.parsers.handlers.defaults.SolrContainerFlagHandler</class>
	</nodeFlagHandler>
	<nodeFlagHandler>
		<name>solr_exclude</name>
		<class>org.openleg.platform.parsers.handlers.defaults.SolrExcludeFlagHandler</class>
	</nodeFlagHandler>
	<nodeFlagHandler>
		<name>xml_exclude</name>
		<class>org.openleg.platform.parsers.handlers.defaults.XmlExcludeFlagHandler</class>
	</nodeFlagHandler>

</config>